@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 100%;
  --background: 0 0% 4%;
  --accent: 24 94% 53%;
  --muted: 0 0% 20%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  scroll-behavior: smooth;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f97316;
}
